*{
    border: 1px solid red;
}

.container{
    background-color: black; /*1번*/
}

/* 선택자가 없는 경우에는 . 빼고 작성*/
div{
    width: 100px;
    height: 100px;
    background-color: pink;
    margin-bottom: 10px;
}
.box{
    background-color: red;
}