@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');
*{
  box-sizing: border-box;
}
.navbar-brand{
  top: 10px;
  color: white;
  font-size: 50;
}
a {
  color: #00B7FF;
}
